# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Note that git rm --cached -r *.extn will retroactively remove all instances of the given file extension

# Dropbox attribute files
*.dropbox.attr

# Python binaries
*.pyc

# PyCharm files
/.idea
*/.idea
*.idea
*.xml
scellaneous/*.txt

# Image files
*.png
*.pdf
*.eps
*.jpg
*.jpeg
*.bmp
*.tiff

# Data files
*.dat
*.csv
*.tar.gz
*.ods

# FITS files and DS9 region files
*.fits
*.fits.gz
*.reg

# Temp/backup files
*.csv
*.ods
*.sav.py

# Test data
/Test/Test_Data





# =========================
# Operating System Files
# =========================
# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
